<mat-card>
  <mat-card-header>
    <mat-card-title>Receipt Hypothesis</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h3>Theatrical</h3>
    <p>Brut receipts: {{ theatricalReceipts | number: "1.0-0" }}</p>
    <p>
      CNC distribution support:
      {{ distributionTheatricalSupport | number: "1.0-0" }}
    </p>
    <p>Expenses: {{ theatricalExpenses | number: "1.0-0" }}</p>
    <p>
      Margin before distribution fees:
      {{ netTheatricalMargin | number: "1.0-0" }}
    </p>
    <h3>Video</h3>
    <p>Turnover: {{ videoReceipts | number: "1.0-0" }}</p>
    <p>
      CNC distribution support:
      {{ distributionVideoSupport | number: "1.0-0" }}
    </p>
    <p>Expenses: {{ videoExpenses | number: "1.0-0" }}</p>
    <p>
      Margin before distribution fees:
      {{ netVideoMargin | number: "1.0-0" }}
    </p>
    <h3>VOD</h3>
    <p>Margin: {{ vodReceipts | number: "1.0-0" }}</p>
    <h3>TV France</h3>
    <p>FTV: {{ tvReceipts | number: "1.0-0" }}</p>
    <h3>Export</h3>
    <p>Brut receipts: {{ exportReceipts | number: "1.0-0" }}</p>
    <p>Expenses: {{ exportExpenses | number: "1.0-0" }}</p>
    <p>
      Margin before distribution fees:
      {{ netExportMargin | number: "1.0-0" }}
    </p>
    <mat-divider></mat-divider>
    <h3 class="total">
      Total marging before distribution fees:
      {{ totalMargin | number: "1.0-0" }}
    </h3>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="getRNPP()">
      Generate receipts
    </button>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Receipts repartition</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let receiptType of receiptTypes">
      <h3>{{ receiptType }}</h3>
      <div *ngFor="let receiptRight of receiptRights">
        <div *ngIf="receiptRight.type === receiptType">
          <p>
            {{ receiptRight.title }}:
            {{ receiptRight.cashedIn | number: "1.0-0" }}
          </p>
        </div>
      </div>
    </div>
    <p>Pathé increased CNC support: {{ increaseSupport | number: "1.0-0" }}</p>
    <h3>Partner's shares</h3>
    <p>
      Partner's margin before distribution fees:
      {{ partnerMarginShare | number: "1.0-0" }}
    </p>
    <p>
      Partner's CNC support share:
      {{ this.partnerSupportShare | number: "1.0-0" }}
    </p>
    <p>
      Partner's participation to right holders' share:
      {{ partnerAydShare | number: "1.0-0" }}
    </p>
    <p>
      Partner's investment:
      {{ partnerInvestment | number: "1.0-0" }}
    </p>
    <p>
      Net Partner's margin:
      {{ partnerMargin | number: "1.0-0" }}
    </p>
  </mat-card-content></mat-card
>
<mat-card>
  <mat-card-header> <mat-card-title>Sum up </mat-card-title></mat-card-header>
  <mat-card-content>
    <p>
      Total margin before distribution fees: {{ totalMargin | number: "1.0-0" }}
    </p>
    <p>
      Net Pathé CNC support:
      {{ patheTotalSupport + increaseSupport | number: "1.0-0" }}
    </p>
    <p>Right holders' share: {{ aydAndPartnerShare | number: "1.0-0" }}</p>
    <p>Pathé investment: {{ patheInvestment | number: "1.0-0" }}</p>
    <mat-divider></mat-divider>
    <h3 class="total">
      Net Pathé's margin:
      {{ patheTotalMargin | number: "1.0-0" }}
    </h3>
  </mat-card-content>
</mat-card>
